<section id="log-in-section" class="text-center text-dark d-flex">
  <h1 class="sr-only">Log in form</h1>
  <div class="container">
    {{#if credentialInvalid}}
    <div id="credentialInvalid" class="col-md-8 mx-auto alert alert-danger text-center d-block" role="alert">
      <p class="m-0 p-0">Your username or password is invalid!</p>
    </div>
    {{/if}}

    <form class="p-5 border border-light bg-light rounded rounded-lg mx-auto my-3 col-md-6" id="log-in-form"
      method="POST" action="/authen/login">
      <img class="mb-4 p-3 bg-dark rounded rounded-lg" src="/public/img/logo.png" alt="MOBA Shop logo"
        style="width:250px;height:auto">
      <div class="form-group my-3">
        <label for="userAccount" class="sr-only">User Account</label>
        <input type="text" class="form-control my-1" name="userAccount" id="userAccount" aria-describedby=""
          placeholder="Account" required autofocus>
        <label for="userPassword" class="sr-only">User Password</label>
        <input type="password" class="form-control my-1" name="userPassword" id="userPassword" aria-describedby=""
          placeholder="Password" required>
      </div>

      <button type="submit" class="btn btn-lg btn-block btn-dark">Log In</button>
      <hr>

      <div class="row">
        <div class="col-md-6 d-flex align-items-center">
          <small class="text-muted form-text">Don't have an account yet?</small>
        </div>
        <div class="col-md-6 d-flex align-items-center">
          <a class="btn btn-dark btn-lg btn-block" href="/authen/signup">Sign Up</a>
        </div>
      </div>
    </form>
  </div>
</section>