@font-face {
    font-family: "wowFont";
    src: url("/public/font/Skurri/skurri.eot");
    src: url("/public/font/Skurri/skurri.woff") format("woff"),
        url("/public/font/Skurri/skurri.ttf") format("ttf"), 
        url("/public/font/Skurri/skurri.svg") format("svg");
}

body {
    font-family: wowFont,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #f8f9fa;
    color: #f8f9fa;
    text-align: center;
}
hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #343a40;
}

.icon-class {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/* override certain feature of Bootstrap */

#footer-brand {
    border-top: 1px solid #f8f9fa
}