<section id="error-section">
  <div class="container">
    <div class="jumbotron text-light bg-dark col-md-8 mx-auto my-5">
      <h1 class="display-3">{{error.status}}</h1>
      <p class="lead">Oops...</p>
      <p>{{error.msg}}</p>
      <hr class="my-2 bg-light">
      <p class="lead">
        <a class="btn btn-light btn-lg btn-block" href="/" role="button">Back to the Landing Page</a>
      </p>
    </div>
  </div>

</section>