<main>
  <form class="search-bar" id="search-bar" method="GET" action="/search" target="_blank">
    <label for="search-text" id="search-text-lable"></label>
    <input type="text" id="search-text" placeholder="Search" name="searchKeyword" />
    <input type="submit" value="Search" />
  </form>
</main>