<main>
  <form class="search-bar" id="search-bar" method="GET" action="/search" target="_blank">
    <label for="search-text" id="search-text-lable"></label>
    <input type="text" id="search-text" placeholder="Search" name="searchKeyword" />
    <input type="submit" value="Search" />
  </form>

  <hr />
  <section id="items-wrapper">
    <div class="items-shelf">
      <div class="item">
        <a href="#">
          <img src="https://i.pinimg.com/564x/c4/98/57/c498575157be25c6163d3f347816657f.jpg">
        </a>
        <div class="item-info">
          <a href="#"><p>Item Name</p></a>
          <a href="#"><p>Item Description</p></a>
          <a href="#"><p>Item Price</p></a>
        </div>
      </div>
      <div class="item">
        <a href="#">
          <img src="https://i.pinimg.com/564x/c4/98/57/c498575157be25c6163d3f347816657f.jpg">
        </a>
        <div class="item-info">
          <a href="#"><p>Item Name</p></a>
          <a href="#"><p>Item Description</p></a>
          <a href="#"><p>Item Price</p></a>
        </div>
      </div>
      <div class="item">
        <a href="#">
          <img src="https://i.pinimg.com/564x/c4/98/57/c498575157be25c6163d3f347816657f.jpg">
        </a>
        <div class="item-info">
          <a href="#"><p>Item Name</p></a>
          <a href="#"><p>Item Description</p></a>
          <a href="#"><p>Item Price</p></a>
        </div>
      </div>
      <div class="item">
        <a href="#">
          <img src="https://i.pinimg.com/564x/c4/98/57/c498575157be25c6163d3f347816657f.jpg">
        </a>
        <div class="item-info">
          <a href="#"><p>Item Name</p></a>
          <a href="#"><p>Item Description</p></a>
          <a href="#"><p>Item Price</p></a>
        </div>
      </div>
      <div class="item">
        <a href="#">
          <img src="https://i.pinimg.com/564x/c4/98/57/c498575157be25c6163d3f347816657f.jpg">
        </a>
        <div class="item-info">
          <a href="#"><p>Item Name</p></a>
          <a href="#"><p>Item Description</p></a>
          <a href="#"><p>Item Price</p></a>
        </div>
      </div>
      <div class="item">
        <a href="#">
          <img src="https://i.pinimg.com/564x/c4/98/57/c498575157be25c6163d3f347816657f.jpg">
        </a>
        <div class="item-info">
          <a href="#"><p>Item Name</p></a>
          <a href="#"><p>Item Description</p></a>
          <a href="#"><p>Item Price</p></a>
        </div>
      </div>
      <div class="item">
        <a href="#">
          <img src="https://i.pinimg.com/564x/c4/98/57/c498575157be25c6163d3f347816657f.jpg">
        </a>
        <div class="item-info">
          <a href="#"><p>Item Name</p></a>
          <a href="#"><p>Item Description</p></a>
          <a href="#"><p>Item Price</p></a>
        </div>
      </div>
      
    </div>
  </section>
</main>