<section id="log-in-section" class="text-center">
  <form class="mx-auto pt-5 mt-5" id="log-in-form" method="POST" action="/authen/login">
    <img class="mb-3 p-3 bg-dark rounded rounded-lg" src="/public/img/logo.png" style="width:250px;height:auto">
    <h3 class="mb-3">Please Log In</h3>
    <div class="form-group my-3">
      <label for="userAccount" class="sr-only">User Account</label>
      <input type="text" class="form-control my-1" name="userAccount" id="userAccount" aria-describedby=""
        placeholder="Account" required autofocus>
      <label for="userPassword" class="sr-only">User Password</label>
      <input type="password" class="form-control my-1" name="userPassword" id="userPassword" aria-describedby=""
        placeholder="Password" required>
    </div>

    <div class="form-check mb-2">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" value="rememberMe">
        Rememberme
      </label>
    </div>

    <button type="submit" class="btn btn-lg btn-block btn-dark">Log In</button>
  </form>
</section>